.About3{
    top: 2520px;
    position: absolute;
    h1{
        font-size: 85px;
        position: absolute;
        right: -790px;
        text-align: center;
        font-size: 45px;
        color: rgb(75, 75, 75);
    }
    }

    .hrr2{
        border: 1px solid orange;
    }