
.About{
    position: relative;
    bottom: 1350px;
  
    h1{
        text-align: center;
        font-size: 55px;
        color: white;
    }
    }
   
    .hrr{
        border: 1px solid orange;
    }
    .texp{
        position: relative;
    bottom: 1350px;
    color: white;
    text-align: justify;
    text-align: center;
    font-size: 21px
    }